
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 5000;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	/*background: #fff;
	border:1px solid #e2e2e2;*/
	
	background:url(../_img/backgrounds/scrollbar.png);
	
}
#tl_rolagem .jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	/*background: #fff;
	border:1px solid #e2e2e2;*/
	
	background:url(../_img/backgrounds/scrollbar2.png);
	
}
.jScrollPaneDrag {
	position: absolute;
	background: #cfdd2e;
	cursor: pointer;
	overflow: hidden;
	background:url(../_img/backgrounds/scrolldrag.png) center center no-repeat;
	height:74px;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	height: 9px;
}
a.jScrollArrowUp:hover {
	/*background-color: #f60;*/
}

a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	height: 9px;
}
a.jScrollArrowDown:hover {
	/*background-color: #f60;*/
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #f00;*/
}